# Terraform state & secrets
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.auto.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS credentials
.aws/
credentials

# Node
node_modules/
npm-debug.log*

# Docker build cache
.dockerignore

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp
*.backup
